.wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.username {
  font-weight: 700;
}

.user__btn {
  width: 100px;
  background-color: #f3f6f9;
  border: none;
  border-radius: 20px;
  color: #82909e;
  cursor: pointer;
  padding: 10px;
  text-align: center;
  transition: all 0.8s;
  margin: 0 auto 0;
}
.user__btn:hover {
  background-color: #4267b2;
  color: #fff;
}
